/*Responsive*/
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }

    .welcome-section .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .features-section .container {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonials-section .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .photo {
        margin: 20px;
        text-align: center;
    }

    .container-info {
        order: 2;
    }

    .container-info1 {
        order: 1;
    }

    .Intellisense-section .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .Debug-section .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .Git-section .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .Extension-section .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .Deploy-section .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .alt-download-selection .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-block: 50px;
        padding: 0;
        align-items: center;
    }

    .alt-download-selection .card-container1 {
        grid-column: 1/3;
    }

    .languages {
        display: grid;
        margin-block: 20px;
        grid-template-columns: repeat(4, auto);
    }

    footer .container {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        margin-left: 0;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }

    .nav-link {
        display: initial;
    }
    
    .search-download-box {
        display: initial;
    }

    .menu-btn {
        display: none;
    }

    .search-box,
    .search-download-box {
        display: flex;
        height: 50px;
    }

    .search-box input {
        display: none;
    }

    .languages {
        display: grid;
        margin-block: 20px;
        grid-template-columns: repeat(6, auto);
    }

    .alt-download-selection .container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 20px;
        margin-block: 50px;
        padding: 0;
        align-items: center;
    }

    .alt-download-selection .card-container1 {
        grid-column: initial;
    }

    .license-section .license-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    footer .container {
        display: grid;
        grid-template-columns: auto auto ;
        text-align: center;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .search-box input {
        display: flex;
    }
}