@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+Georgian&family=Plus+Jakarta+Sans&family=Poppins&family=Roboto&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Serif+Georgian&family=Plus+Jakarta+Sans&family=Roboto&family=Russo+One&display=swap');
@import url(color.css);

.container {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--grey);
}

body {
    margin: 0;
    background: var(--white);
    padding: 118px 237px 62px 66px;
}

.note p {
    font-family: 'Robot';
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

table {
    width: 1200px;
}

tr, th {
    text-align: start;
    border-bottom: 2px solid var(--light-grey);
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
}

tr, td {
    border-bottom: 1px solid var(--light-grey);
    padding-block: 12px;
}

.amount {
    color: var(--dark);
    text-align: center;
}

.status {
    text-align: center;
    border-radius: 25px;
    background: var(--red);
    color: var(--white);
    width: 45px;
    padding: 2px 10px;
}

.status1 {
    text-align: center;
}