@import url('https://fonts.googleapis.com/css2?family=Inter&family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Plus+Jakarta+Sans&family=Russo+One&display=swap');
@import url(color.css);

.container {
    width: 962px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 296px;
}

* {
    box-sizing: border-box;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    background: var(--shade);
    padding: 162px 332px 162px 306px;
}

.title {
    color: var(--blue);
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 700;
}

.add-form {
    width: 430px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.date {
    background-image: url(./pic/Rectangle\ 2.png);
    width: 430px;
    height: 202px;
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    font-family: 'Russo One';
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 15px;
}

#currentTime {
    font-size: 48px;
    margin: 0;
}

#currentDay {
    font-size: 18px;
    margin: 0;
}

.add {
    padding-block: 23px 78px;
    padding-inline: 28.5px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    background: var(--white);
}

.add-note {
    width: 275px;
    height: 49px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--shady-white);
    padding: 12px 189px 13px 14px;
}

.add-note input {
    background: var(--shady-white);
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

input.typing {
    border: none;
}

.btn {
    display: flex;
    width: 88px;
    padding: 13px;
    justify-content: center;
    gap: 11px;
    background: var(--green);
    border: 1px solid var(--white);
}

#ul {
    width: 373px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin-top: 36px;
    background: var(--white);
    grid-column: 1 / 3;
}

li {
    margin-inline: 5px;
    list-style: none;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li div {
    display: flex;
    align-items: center;
    gap: 14px;
}

#checkbox {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid var(--green);
    border-radius: 20px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 2px;
        left: 7px;
        width: 8px;
        height: 14px;
        border-style: solid;
        border-color: var(--white);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0;
    }
    &:checked {
        color: var(--white);
        border-color: var(--green);
        background: var(--green);
        &::before {
            opacity: 1;
        }
    }
}

#btn1 {
    background-image: url(./pic/akar-icons_trash-can.svg);
    background-color: var(--white);
    width: 24px;
    height: 24px;
    border: 1px var(--white);
    cursor: pointer;
}

.date-string {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 7px;
    font-size: 18px;
    margin-bottom: -20px;
}

li p {
    position: absolute;
    top: 15px;
    font-size: 14px;
    color: var(--grey);
}