@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;500&family=Plus+Jakarta+Sans&display=swap');
@import url(color.css);

.container {
    margin: auto;
    width: 375px;
    display: flex;
    flex-direction: column;
    background: var(--white);
}

* {
    box-sizing: border-box;
    font-style: normal;
}

body {
    margin: 0;
}

header .container {
    display: flex;
    flex-direction: row;
    gap: 183px;
    justify-content: center;
    align-items: center;
    margin-block: 24px;
}

.options {
    display: none;
}

.image {
    order: 1;
    z-index: 9;
}

.welcome-col {
    order: 2;
    background: var(--dark-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 93px 24px;
}

.rectangle {
    display: none;
}

.welcome-col .title {
    color: var(--white);
    font-size: 46px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.667px;
    width: 327px;
}

.title h4 {
    margin: 0;
}

.welcome-col .info {
    color: var(--white);
    font-size: 16px;
    font-family: 'Karla';
    font-weight: 400;
    line-height: 26px;
}

.welcome-col .btn {
    width: 146px;
    height: 40px;
    border: 1.5px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.btn a {
    color: var(--white);
    font-size: 13px;
    font-family: 'Karla';
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.option-section .container {
    margin: 140px 24px;
    width: 327px;
    text-align: center;
    gap: 140px;
}

.method-list {
    position: relative;
}

.rectangle1 {
    background: var(--dark-pink);
    width: 150px;
    height: 1px;
    position: absolute;
    left: 95px;
}

.method-list .name {
    color: var(--black);
    font-size: 48px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.667px;
    width: 327px;
    margin-block: 40px 80px;
}

.name h4 {
    margin: 0;
}

.method-list .methods{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.method .name1 {
    color: var(--black);
    font-size: 28px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.389px;
    margin-block: 32px 16px;
}

.name1 h5 {
    margin: 0;
}

.method .info1 {
    color: var(--light-brown);
    font-size: 16px;
    font-family: 'Karla';
    font-weight: 400;
    line-height: 26px;
}

.info1 p {
    margin: 0;
}

.work {
    background: var(--dark-blue);
    padding: 72px 24px;
}

.work .box {
    width: 279px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.box .name2 {
    color: var(--white);
    font-size: 40px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.556px;
}

.name2 h4 {
    margin: 0;
}

.box .btn1 {
    width: 160px;
    height: 40px;
    border: 1.5px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 a {
    color: var(--white);
    font-size: 13px;
    font-family: 'Karla';
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-decoration: none;
}

footer .container {
    background: var(--shady-white);
    padding: 88px 24px;
    text-align: center;
    display: flex;
    gap: 40px;
}

.top-footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 327px;
}

.rectangle2 {
    background: var(--grey);
    width: 327px;
    height: 1px;
}

.company-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 327px;
}

.company-info .section {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.section .title1 {
    color: var(--light-brown);
    font-family: 'Karla';
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
}

.title1 p {
    margin: 0;
}

.section .info-option {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-option a {
    color: var(--dark-blue);
    font-family: 'Karla';
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.background {
    position: relative;
}

.background img {
    position: absolute;
    left: -187px;
}

.pic1 {
    top: -380px;
}

.pic2 {
    top: -345px;
}

.pic3 {
    top: -325px;
}

.pic4 {
    top: -300px;
}

.pic5 {
    top: -280px;
}

.pic6 {
    top: -270px;
}